* {
    font-size: 62.5%;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(82, 78, 78);
}

/*Styles for header container*/
.header-container {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    margin: 1rem 1rem;
}

.header-container .high-scores {
    text-decoration:none;
    color:#dda1f5;
}

.high-scores:hover {
    color:rgb(92, 45, 99);
}

.timer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:2.5rem;
}

.timer-container .time {
    padding-right: 1rem;
    font-weight: bold;
}

/*Hiding sections to start application*/
.quiz-questions-display,
.alldone-display,
.highscore-display,
.result-container {
    display: none;
}

.timer-container {
    visibility: hidden;
}

/*Styles for quiz-intro container*/
.quiz-intro,
.quiz-questions-container,
.alldone-container,
.highscore-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 300px;
}

.quiz-header,
.alldone-header, 
.collect-hs-initials,
.highscore-header {
    font-size:3rem;
    width: 50%;
    text-align: center;
}

.quiz-instr {
    font-size: 1.5rem;
    width: 50%;
    text-align: left;
}

/*Styles specific to question-answer container*/
.quest-ans-container {
    width:50%;

    display: flex;
    flex-direction:column;
    justify-content:flex-start;    
}

.question {
    font-size: 2.5rem;
    width: 100%;
    height: 50px;
}

.result-container {
    width: 50%;
    color: grey;
    font-size: 1.5rem;
    font-style: italic;
    border-top: 0.5rem double grey;
    padding-top: 5px;
}

/*Styles specific to the alldone-container*/
#initials {
    width:15%;
    margin-bottom: 25px;
}

/*Styles specific to high score container*/
.highscore-info-container {
    width:50%;
    height:100%;

    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;    
}

.highscore-ol {
    width: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
    background: #dda1f5;
}

/*Button styles*/
.start-btn,
.answer-btn,
.submit-init-btn,
.goback-btn,
.clear-scores-btn {
    width: auto;
    height: auto;
    padding: 0.5rem 3rem;
    font-size:1.5rem;
    border-radius: 5px;
    cursor:pointer;
    color:white;
    background: linear-gradient(#dda1f5,rgb(104, 55, 110));
    background-blend-mode:soft-light;
}

.answer-btn {
    display: block;
    align-content:flex-start;
    margin: 1rem;
}

.goback-btn,
.clear-scores-btn {
    margin: 1rem;
}

.start-btn:hover,
.answer-btn:hover,
.submit-init-btn:hover,
.goback-btn:hover,
.clear-scores-btn:hover {
    transition: all, 3s, ease-in;
    opacity: 0.75;
}